<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="rollingFile"
                     fileName="logs/execution.log"
                     append="true"
                     filePattern="logs/$${date:yyyy-MM}/execution-%d{MM-dd-yyyy}-%i.log.gz"
        >
            <PatternLayout>
                <Pattern>%d %p %m %n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 KB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
        <Logger name="org.apache.logging.log4j" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
    </Loggers>
</Configuration>